@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap');

:root{
    --font-head:'Montserrat', sans-serif;
    --font-para: 'Open Sans', sans-serif;

    --color-base: #f8f1ee;
    --color-black: #0a0e13;
    --color-skin: #fda38f;
    --color-grey: #514f58;
    --color-brown:#512512;
    --color-button: #b84d37;
    --color-pink: #f9e1db;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }

body{
  background-color: var(--color-base);
}

  a {
    color: unset;
    text-decoration: none;
  }